/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
.progress {
    overflow: hidden;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: @main-border-radius;
    border: 1px solid darken(#388ed6, 10%);

    &.compact {
        height: 8px;
    }
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: @progress-bar-color;
    #gradient > .vertical(#388ed6, #2b77b9);
    border-right: 1px solid darken(#388ed6, 15%);
    .transition(width 600ms ease);

    &[aria-valuenow="1"],
    &[aria-valuenow="2"] {
        min-width: 30px;
    }

    &[aria-valuenow="0"] {
        color: #777777;
        min-width: 30px;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }

    .sr-only {
        visibility: hidden;
        opacity: 0;
    }
}
